<html>
    <head></head>
    <body>
        <p>
            <b> username: </b> '{{ username }}'
        </p>
        <p>
            <b> Source IP: </b> '{{ ip }}'
        </p>
        <p>
            <b> tags:</b>
            <ul>
            {% for item in tags %}
                <li>{{ item.Key }}: {{ item.Value }}</li>
            {% endfor %}
            </ul>
        </p>
    </body>
</html>